/* Estilos para o corpo da página */
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para o menu lateral 
.sidebar {
    width: 15%; 
    background-color: #333;
    color: #fff;
    height: 100vh;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
}*

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}/

/* Estilos para o conteúdo principal */
.content {
    padding: 0;
    width: 100%; /* Ajuste para o conteúdo ocupar o restante da tela */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.background-image {
    width: 100%;
    transition: height 0.3s ease-out; /* Transição suave */
  height: 100vh; /* Começa ocupando toda a altura da tela */
}

.image-container {
    position: relative;
    overflow: hidden;   width: 100%; /* Ajuste conforme necessário */
    height: 100vh;
    transition: height 0.3s ease-out; /* Transição suave */
}

.image-container img {
    width: 100%; /* Ajusta o tamanho da imagem */
    display: block;
  }

.conteiner-buttons { 
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #AC786C;
    height: 150px;
    width: 100%; 
}

.button {
    margin-top: 50px;
    height: 50px;
    width: 250px;
    color: white;
    background-color: #AC786C ;
    border: 2px solid white ;
    border-radius: 10px;
    font-size: large;
    
}
.apresentacao {
    background-color: #F3F3F3;
    display: flex;
    height: 500px;
    width: 100%;
   
}

.img-apresentacao, .text-apresentacao {
  background-color: aqua;
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
    
}

.imgperfil {
    padding: 80px;
    justify-content: center;
}

.text-apresentacao {
    padding: 125px 50px 149px 0;
    flex-direction: column;
    margin: 85;
}

.servicos {
    background-color: #AC786C;
    display: flex;
    width: 100%;
    height: 500px;
    text-align: center;
    color: white;

}

.log {
    flex: 1;
    width: 100px;
    height: 150px;
    padding: 50px;
    
}

.h1servicos {
    position: absolute;
    left: 37%; /* Posiciona a div no meio da tela */
    padding-top: 15px;

}

.botaoservicos-conteiner {
    background-color: #AC786C;
    text-align: center;
    padding-bottom: 20px;
    
}
.buttonservicos {
    margin: auto;
    height: 50px;
    width: 500px;
    color: white;
    background-color: #AC786C ;
    border: 2px solid white ;
    border-radius: 10px;
    font-size: large;
}

.rodape {
    background-color: #F3F3F3;
}

.rodape {
    display: flex;
    padding: 20px 50px 50px 50px;
    height: 500px;
}

.filho-rodape {
    flex: 1;
}

#ponto {

    display: flex;
    justify-content: space-around; /* ou use 'space-between' para espaçar entre os ícones */
    align-items: center;
    list-style-type: none; /* aqui ao lado tira o ponto preto de frente da li */

}

#ponto img {
    width: 100%;
    height: auto; /* Mantém a proporção */
}

.iconredes {
    padding: 16px;
}

footer {  
    background-color: #F3F3F3;
    text-align: center;
}