/* Estilos para o corpo da página */
* {
    padding: 0;
    margin: 0;
}



body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #AC786C;
    

}

/* Estilos para o menu lateral 
.sidebar {
    width: 15%; 
    background-color: #333;
    color: #fff;
    height: 100vh;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
}*

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}/

/* Estilos para o conteúdo principal */
.content {
    margin-left: 250px; /* Espaço suficiente para o menu lateral */
    width: 100%; /* Ajuste para o conteúdo ocupar o restante da tela */
    display: flex;
    flex-direction: column;
    
}

.background-image {
    width: 100%;
    transition: height 1s ease-out; /* Transição suave */
     /* Começa ocupando toda a altura da tela */
}

.image-container {
    position: relative;
    overflow: hidden;   width: 100%; /* Ajuste conforme necessário */
 
    transition: height 1s ease-out; /* Transição suave */
}

.image-container img {
    width: 100%; /* Ajusta o tamanho da imagem */
    display: block;
  }

.conteiner-buttons { 
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: #AC786C;
    height: 150px;
    width: 100%; 
}


#button {
    display: flex; /* Permite que o link se comporte como um botão */
    justify-content: center;       /* Centraliza o texto horizontalmente */
    align-items: center;   
    color: white;
    background-color: none;
    border: 2px solid white ;
    border-radius: 10px;
    font-size: large;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    text-decoration: none;


    

}

#button:hover {
    background-color: #f3f3f333;
}

.button {
    margin-top: 50px;
    height: 50px;
    width: 250px;

}
.apresentacao {
    background-color: #F3F3F3;
    display: flex;
    height: 500px;
    width: 100%;
   
}

.img-apresentacao, .text-apresentacao {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
    
}

.imgperfil {
    padding: 80px;
    justify-content: center;
}

.text-apresentacao {
    padding: 125px 50px 149px 0;
    flex-direction: column;
    margin: 85;

}

.text-apresentacao h2  {
    color: rgba(172, 120, 108, 1);
}

.servicos {
    background-color: #AC786C;
    display: flex;
    width: 100%;
    height: 380px;
    text-align: center;
    color: white;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */

}

.log {
    flex: 1;
    width: 100px;
    height: 150px;
    padding: 50px;
    
}



.h1servicos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza em relação ao ponto central */
    text-align: center;
}

.divdeservico {
    position: relative; /* Torna .servicos o contêiner de referência */
    background-color: #AC786C;
    height: 100px;
    width: 100%;
    text-align: center;
    color: white;
}

.botaoservicos-conteiner {
    background-color: #AC786C;
    text-align: center;
    padding-bottom: 30px;
    
}
.buttonservicos {
    margin: auto;
    height: 50px;
    width: 500px;

}

.rodape {
    background-color: #F3F3F3;
}

.rodape {
    display: flex;
    padding: 20px 50px 50px 50px;
    height: 290px;
}

.filho-rodape {
    flex: 1;
    margin: 40px 50px 0 50px; 
    
}

.filho-rodape p {
    color: rgb(102, 96, 96);
    margin-top: 55px;
    margin-bottom: 43px;
}

#ponto {

    display: flex;
    justify-content: space-around; /* ou use 'space-between' para espaçar entre os ícones */
    align-items: center;
    list-style-type: none; /* aqui ao lado tira o ponto preto de frente da li */

}

#ponto img {
    width: 100%;
    height: auto; /* Mantém a proporção */
}

.iconredes {
    padding: 16px;
}

footer {  
    background-color: #F3F3F3;
    text-align: center;
    padding-bottom: 50px;
    font-size: 12px;
    color: grey;
    
}

hr {
    border: 0;
    height: 1px;
    background-color: #fcfcfc; /* Cor da linha */
    width: 80%;
    margin: 20px auto; /* Centraliza horizontalmente */
  }
  
  li {
    margin-bottom: 15px; /* Espaço de 10px entre os itens */
    text-decoration: underline;
    font-size: 13px;
    color: #8A6056;
  }

  /* Menu Lateral */
.sidebar {
    width: 210px; 
    background-color: #333;
    color: #fff;
    height: 100vh;
    padding: 20px;
    position: fixed;
    overflow-y: auto;
    z-index: 1;
}

.sidebar h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
   
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
}
